In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
# given a df, a column to search, a search string, a column to edit, and a string to edit in,
# return the df with the column edited appropriately
def clean(df, find_str, find_col="city_ascii", edit_str=None, edit_col=None):
    if not edit_str:
        edit_str = find_str
    if not edit_col:
        edit_col = find_col
    df.loc[df[find_col].str.contains(find_str), edit_col] = edit_str
    return df

In [3]:
# read and merge all data tables
numbeo_beer_market = pd.read_table('numbeo_beer_market.txt', names=["rank", "city", "beer_market"], index_col="rank")
numbeo_beer_pub = pd.read_table("numbeo_beer_pub.txt", names=["rank", "city", "beer_pub"], index_col="rank")
numbeo_bread = pd.read_table('numbeo_bread.txt', names=["rank", "city", "bread"], index_col="rank")
numbeo_coffee = pd.read_table("numbeo_coffee.txt", names=['rank', 'city', 'coffee'], index_col="rank")

numbeo = pd.merge(numbeo_beer_market, numbeo_beer_pub, how="outer", on="city")
numbeo = pd.merge(numbeo, numbeo_bread, how="outer", on="city")
numbeo = pd.merge(numbeo, numbeo_coffee, how="outer", on="city")

In [4]:
# read in region, lat/lng, pop data
city_data = pd.read_csv('../city-data/world-cities-data.csv')
city_data['region'] = city_data['region'].str.title()

In [5]:
# corrections
city_data.loc[city_data.country.str.contains("Bahamas"), "country"] = "Bahamas"
city_data.loc[city_data.country.str.contains("Korea, South"), "country"] = "South Korea"

In [6]:
# create a separate country column
split = numbeo['city'].str.split(", ")
numbeo['country'] = split.str[-1]
numbeo['city'] = split.str[0]

In [7]:
# to align with city_data column names
numbeo = numbeo.rename(columns={"city": "city_ascii"})

In [8]:
# corrections
numbeo.city_ascii = numbeo.city_ascii.str.replace("Saint", "St.")
numbeo.loc[numbeo.city_ascii.str.contains("Petersburg") & numbeo.country.str.contains("Russia"), "city_ascii"] = "Saint Petersburg"

numbeo = clean(numbeo, find_str="Tel Aviv")
numbeo = clean(numbeo, find_str="Jeddah")
numbeo = clean(numbeo, find_str="Arhus", edit_str="Aarhus")
numbeo = clean(numbeo, find_str="Freiburg")
numbeo = clean(numbeo, find_str="Calicut")
numbeo = clean(numbeo, find_str="Lucknow")
numbeo = clean(numbeo, find_str="Padova", edit_str="Padua")
numbeo = clean(numbeo, find_str="Astana")
numbeo = clean(numbeo, find_str="The Hague")
numbeo = clean(numbeo, find_str="Krakow")
numbeo = clean(numbeo, find_str="Zaragoza")
numbeo = clean(numbeo, find_str="Seville")
numbeo = clean(numbeo, find_str="Kyiv")
numbeo = clean(numbeo, find_str="Odessa")
numbeo = clean(numbeo, find_str="Novgorod", edit_str="Nizhniy Novgorod")
numbeo = clean(numbeo, find_str="Erbil")

numbeo = clean(numbeo, find_col="country", find_str="Kosovo")

In [9]:
# load in expatistan data
with open("../expatistan/expatistan-data.json") as f:
    data = json.load(f)
expat = pd.json_normalize(data)
expat.columns = ['city_ascii', 'country', 'beer_market', 'bread', 'coffee', 'beer_pub']

expat.head()

     city_ascii      country  beer_market  bread  coffee  beer_pub
0         Kabul  Afghanistan         2.58   0.49    2.77      5.72
1        Tirana      Albania         1.06   0.77    1.55      3.55
2       Algiers      Algeria         0.88   0.23    2.29      2.10
3        Athens       Greece         1.52   0.91    4.70      5.24
4  Buenos Aires    Argentina         0.93   0.48    2.08      1.84

In [10]:
# merge expatistan and numbeo data
on_cols = ['city_ascii', 'country']
n_e = pd.merge(numbeo, expat, how="outer", on=on_cols, suffixes=("_n", "_e"))

In [11]:
# rows that have expatistan but not numbeo data
n_e[n_e["beer_pub_n"].isna() & n_e["bread_n"].isna() & n_e['coffee_n'].isna() & n_e["beer_market_n"].isna()]

,city_ascii,beer_market_n,beer_pub_n,bread_n,coffee_n,country,beer_market_e,bread_e,coffee_e,beer_pub_e
620,Santa Rosa,NaN,NaN,NaN,NaN,Argentina,1.14,0.40,1.15,2.22
621,Santa Clara,NaN,NaN,NaN,NaN,Cuba,1.22,1.50,3.53,5.91
622,St. Petersburg,NaN,NaN,NaN,NaN,United States,2.42,2.26,5.08,4.84

In [12]:
# rows that have numbeo but not expatistan data
n_e[n_e["beer_pub_e"].isna() & n_e["bread_e"].isna() & n_e['coffee_e'].isna() & n_e["beer_market_e"].isna()]

,city_ascii,beer_market_n,beer_pub_n,bread_n,coffee_n,country,beer_market_e,bread_e,coffee_e,beer_pub_e
50,Espoo,2.95,7.25,2.60,4.91,Finland,NaN,NaN,NaN,NaN
76,Brooklyn,2.72,7.00,3.56,4.32,United States,NaN,NaN,NaN,NaN
100,Brampton,2.53,4.33,1.83,2.65,Canada,NaN,NaN,NaN,NaN
101,St. Paul,2.53,5.00,2.75,4.25,United States,NaN,NaN,NaN,NaN
146,Sliema,2.22,3.62,1.70,2.93,Malta,NaN,NaN,NaN,NaN
147,Navi Mumbai,2.21,2.39,0.45,2.29,India,NaN,NaN,NaN,NaN
174,Derby,2.03,4.76,1.46,3.48,United Kingdom,NaN,NaN,NaN,NaN
178,Bali,2.01,2.47,1.57,2.11,Indonesia,NaN,NaN,NaN,NaN
181,Chennai,2.00,2.05,0.50,1.99,India,NaN,NaN,NaN,NaN
203,Lund,1.88,7.74,3.01,4.33,Sweden,NaN,NaN,NaN,NaN
228,Noida,1.77,1.91,0.48,1.97,India,NaN,NaN,NaN,NaN
244,Linz,1.68,5.07,2.38,4.01,Austria,NaN,NaN,NaN,NaN
268,Makati,1.52,1.46,NaN,2.78,Philippines,NaN,NaN,NaN,NaN
287,Breda,1.44,6.04,2.25,3.12,Netherlands,NaN,NaN,NaN,NaN
288,Delft,1.44,6.04,2.17,3.51,Netherlands,NaN,NaN,NaN,NaN
289,Haarlem,1.44,4.83,2.12,3.59,Netherlands,NaN,NaN,NaN,NaN
291,Leiden,1.43,5.44,2.17,3.37,Netherlands,NaN,NaN,NaN,NaN
313,Paphos,1.31,2.42,1.23,3.14,Cyprus,NaN,NaN,NaN,NaN
316,Klaipeda,1.29,3.62,0.79,2.60,Lithuania,NaN,NaN,NaN,NaN
364,Aachen,1.08,4.05,1.30,2.84,Germany,NaN,NaN,NaN,NaN
377,Quezon City,1.03,1.25,1.30,2.24,Philippines,NaN,NaN,NaN,NaN
390,Gdynia,1.00,2.13,0.75,2.64,Poland,NaN,NaN,NaN,NaN
402,Erlangen,0.97,4.05,1.81,4.10,Germany,NaN,NaN,NaN,NaN
417,Kosice,0.92,1.45,1.16,2.24,Slovakia,NaN,NaN,NaN,NaN
460,Lodz,0.82,2.13,0.78,2.27,Poland,NaN,NaN,NaN,NaN
479,Goa,0.76,1.09,0.51,2.25,India,NaN,NaN,NaN,NaN
483,Katowice,0.74,1.86,0.91,2.09,Poland,NaN,NaN,NaN,NaN
490,Cali,0.72,0.87,0.89,1.35,Colombia,NaN,NaN,NaN,NaN
491,Al Marsa,0.72,1.84,0.18,1.28,Tunisia,NaN,NaN,NaN,NaN
513,Antibes,NaN,7.25,1.90,3.16,France,NaN,NaN,NaN,NaN
515,Santa Rosa,NaN,7.00,4.20,4.56,United States,NaN,NaN,NaN,NaN
517,Fairfax,NaN,6.50,3.12,3.75,United States,NaN,NaN,NaN,NaN
520,Guildford,NaN,6.18,NaN,NaN,United Kingdom,NaN,NaN,NaN,NaN
522,Fremont,NaN,6.00,3.31,4.33,United States,NaN,NaN,NaN,NaN
524,Queens,NaN,6.00,3.12,4.71,United States,NaN,NaN,NaN,NaN
527,Coquitlam,NaN,5.51,1.70,3.56,Canada,NaN,NaN,NaN,NaN
528,Surrey,NaN,5.51,2.26,3.70,Canada,NaN,NaN,NaN,NaN
530,Bournemouth,NaN,5.40,1.09,3.96,United Kingdom,NaN,NaN,NaN,NaN
531,Fredericton,NaN,5.31,2.81,3.23,Canada,NaN,NaN,NaN,NaN
534,Bellingham,NaN,5.00,3.04,4.27,United States,NaN,NaN,NaN,NaN
539,Everett,NaN,5.00,2.64,4.54,United States,NaN,NaN,NaN,NaN
540,Bellevue,NaN,5.00,3.31,3.96,United States,NaN,NaN,NaN,NaN
541,Olympia,NaN,5.00,2.53,4.59,United States,NaN,NaN,NaN,NaN
546,Milton Keynes,NaN,4.76,1.44,3.59,United Kingdom,NaN,NaN,NaN,NaN
547,Swindon,NaN,4.76,NaN,3.94,United Kingdom,NaN,NaN,NaN,NaN
548,Lincoln,NaN,4.76,1.39,3.65,United Kingdom,NaN,NaN,NaN,NaN
555,Red Deer,NaN,4.72,2.32,3.63,Canada,NaN,NaN,NaN,NaN
557,North Vancouver,NaN,4.53,2.59,3.85,Canada,NaN,NaN,NaN,NaN
562,Bend,NaN,4.00,3.83,3.78,United States,NaN,NaN,NaN,NaN
570,Dayton,NaN,4.00,2.40,3.98,United States,NaN,NaN,NaN,NaN
572,Sarasota,NaN,4.00,2.77,4.76,United States,NaN,NaN,NaN,NaN
573,West Palm Beach,NaN,4.00,3.46,5.25,United States,NaN,NaN,NaN,NaN
575,Burnaby,NaN,3.94,3.03,3.14,Canada,NaN,NaN,NaN,NaN
595,Santa Clara,NaN,NaN,4.55,5.00,United States,NaN,NaN,NaN,NaN
597,Alexandria,NaN,NaN,3.31,4.50,United States,NaN,NaN,NaN,NaN
599,Henderson,NaN,NaN,2.48,3.85,United States,NaN,NaN,NaN,NaN
601,Markham,NaN,NaN,1.79,2.97,Canada,NaN,NaN,NaN,NaN
608,Ajman,NaN,NaN,0.71,4.40,United Arab Emirates,NaN,NaN,NaN,NaN
619,Mesa,NaN,NaN,NaN,4.40,United States,NaN,NaN,NaN,NaN

In [13]:
# corrections prior to merging with city_data
corrections = [['Newcastle', "Newcastle"],
              ["Penang", "George Town"],
              ['Heraklion', 'Irakleio'],
              ['Ahmedabad', 'Ahmadabad'],
              ['Patras', 'Patra'],
              ['Pattaya', 'Phatthaya'],
              ['Visakhapatnam', 'Vishakhapatnam'],
              ['Hanover', 'Hannover'],
              ['Yangon', 'Rangoon'],
              ['Rostov', 'Rostov'],
              ["Goa", "Panaji"],
              ['Ain', "Al `Ayn"],
              ["Santa Cruz", "Santa Cruz"],
              ["Ajman", "`Ajman"],
              ['Chittagong', 'Chattogram'],
              ['Macao', 'Macau'],
              ['Marsa', 'La Marsa'],
              ['Astana', 'Nur-Sultan'],
              ["Seville", "Sevilla"],
              ["Zaporizhzhya", "Zaporizhzhia"]]

for find, edit in corrections:
    n_e = clean(n_e, find_str=find, edit_str=edit)

In [14]:
n_e.loc[n_e.city_ascii.str.contains("Rangoon"), "country"] = "Burma"
n_e.loc[n_e.city_ascii.str.contains("Macau"), "country"] = "Macau"

n_e.loc[n_e.country.str.contains("Cz"), "country"] = "Czechia"
n_e.loc[n_e.country.str.contains("Mace"), "country"] = "Macedonia"
n_e.loc[n_e.country.str.contains("Ivory"), "country"] = "Côte D’Ivoire"
# n_e.loc[n_e.country.str.contains("Kosovo"), "country"] = "Kosovo"

In [15]:
cols = ["city_ascii", 'country','region', 'latitude', 'longitude', 'population', 'admin_name']
admin_cols = ['city_ascii', 
              'admin_name', 
              'country', 
              'region', 
              'latitude', 
              'longitude', 
              'population',
              'beer_market_n', 
              'bread_n', 
              'coffee_n', 
              'beer_pub_n', 
              'beer_market_e', 
              'bread_e', 
              'coffee_e', 
              'beer_pub_e', 
            ]

In [16]:
# for US cities, generate a list of unabbreviated state names
def state_unabbr(state):
    abbr = pd.read_table("../city-data/us-state-abbr.tsv", names=['abbr', 'name'], header=0)
    name = abbr.loc[abbr['abbr'] == state, 'name']
    if len(name) > 0:
        return name.values[0]
    else:
        return np.nan

states = []
for i in split:
    if i[-1] == "United States":
        states.append(state_unabbr(i[1]))
        
states.append("Florida")

In [17]:
# separate numbeo into US and non-US cities
# for US cities, add states under admin_name, then merge with city_data latitude, longitude, region, and population
numbeo_us = n_e[n_e['country'] == 'United States']
numbeo_us["admin_name"] = states

numbeo_us = pd.merge(numbeo_us, city_data[cols], how='left', on=['city_ascii', 'country', 'admin_name'])
numbeo_us = numbeo_us.reindex(columns=admin_cols)

/Users/christalee/Library/Python/3.6/lib/python/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [18]:
len(numbeo_us) == len(n_e[n_e['country'] == 'United States'])

True

In [19]:
numbeo_us.tail()

,city_ascii,admin_name,country,region,latitude,longitude,population,beer_market_n,bread_n,coffee_n,beer_pub_n,beer_market_e,bread_e,coffee_e,beer_pub_e
105,Riverside,California,United States,North America,33.9381,-117.3948,2107852.0,NaN,2.65,NaN,NaN,2.48,2.53,4.74,5.68
106,Henderson,Nevada,United States,North America,36.0133,-115.0380,320189.0,NaN,2.48,3.85,NaN,NaN,NaN,NaN,NaN
107,Lincoln,Nebraska,United States,North America,40.8090,-96.6788,289490.0,NaN,2.40,3.55,NaN,2.68,1.53,4.86,4.56
108,Mesa,Arizona,United States,North America,33.4017,-111.7180,518012.0,NaN,NaN,4.40,NaN,NaN,NaN,NaN,NaN
109,St. Petersburg,Florida,United States,North America,27.7931,-82.6652,265351.0,NaN,NaN,NaN,NaN,2.42,2.26,5.08,4.84

In [20]:
# for non-US cities, don't match on admin_name
numbeo_globe = n_e[n_e['country'] != "United States"]

numbeo_globe = pd.merge(numbeo_globe, city_data[cols], how='left', on=['city_ascii', 'country'])
numbeo_globe = numbeo_globe.reindex(columns=admin_cols)

In [21]:
# rows where city & country had more than one match in city_data
x = n_e[n_e['country'] != "United States"]
for city, country in zip(x['city_ascii'], x['country']):
    y = numbeo_globe.loc[(numbeo_globe.city_ascii == city) & (numbeo_globe.country == country)]
    if len(y) != 1:
        print(y)

   city_ascii admin_name country   region  latitude  longitude  population  \
75    Uppsala    Uppsala  Sweden  Europe    59.8498    17.6389    164535.0
76    Uppsala  Stockholm  Sweden  Europe    59.8601    17.6400    133117.0

    beer_market_n  bread_n  coffee_n  beer_pub_n  beer_market_e  bread_e  \
75           2.47     2.92      4.11        8.34           1.95     1.52
76           2.47     2.92      4.11        8.34           1.95     1.52

    coffee_e  beer_pub_e
75      4.48         7.0
76      4.48         7.0
    city_ascii admin_name country          region  latitude  longitude  \
132    Windsor    Ontario  Canada  North America    42.2833      -83.0
133    Windsor     Quebec  Canada  North America    45.5667      -72.0

     population  beer_market_n  bread_n  coffee_n  beer_pub_n  beer_market_e  \
132    276165.0           2.01     2.15      3.27        4.72           2.26
133      5367.0           2.01     2.15      3.27        4.72           2.26

     bread_e  coffee_e  beer_pub_e
132     1.32      2.97        4.25
133     1.32      2.97        4.25
    city_ascii           admin_name country                region  latitude  \
309      Natal             Amazonas  Brazil  South/Latin America    -6.9838
310      Natal  Rio Grande do Norte  Brazil  South/Latin America    -5.7950

     longitude  population  beer_market_n  bread_n  coffee_n  beer_pub_n  \
309   -60.2699    980588.0           1.05      1.0      1.04        1.32
310   -35.2089    877662.0           1.05      1.0      1.04        1.32

     beer_market_e  bread_e  coffee_e  beer_pub_e
309           0.82      0.5      1.48        1.47
310           0.82      0.5      1.48        1.47
    city_ascii             admin_name country   region  latitude  longitude  \
387     Rostov    Rostovskaya Oblast’  Russia  Europe    47.2333    39.7167
388     Rostov  Yaroslavskaya Oblast’  Russia  Europe    57.1833    39.4167

     population  beer_market_n  bread_n  coffee_n  beer_pub_n  beer_market_e  \
387   1125299.0           0.86      0.4      1.59        1.36           1.12
388     30943.0           0.86      0.4      1.59        1.36           1.12

     bread_e  coffee_e  beer_pub_e
387      0.3      1.82        2.02
388      0.3      1.82        2.02

In [22]:
# dedupe those rows
numbeo_globe = numbeo_globe.drop(index=[76, 133, 309, 388])

In [23]:
lost = numbeo_globe[np.isnan(numbeo_globe['latitude']) | np.isnan(numbeo_globe['population'])]

# for i in range(len(lost)):
#     row = lost.iloc[i]
#     city = row['city_ascii']
#     country = row['country']
#     index = row.name
#     x = city_data[city_data.city.str.contains(city.strip("()")[-4:]) & (city_data['country'] == country)]
#     y = city_data[city_data.city.str.contains(city.strip("()")[:4]) & (city_data['country'] == country)]
#     if len(x) == 1:
#         print(city, x)
# #         lost[lost.index == index] = update_row(city, x).values
#     elif len(y) == 1:
#         print(city, y)
# #         lost[lost.index == index] = update_row(city, y).values

In [28]:
lost

,city_ascii,admin_name,country,region,latitude,longitude,population,beer_market_n,bread_n,coffee_n,beer_pub_n,beer_market_e,bread_e,coffee_e,beer_pub_e
28,Tel Aviv,NaN,Israel,Europe,32.085300,34.781806,451523.0,3.29,2.39,4.21,9.12,2.73,1.52,4.29,8.00
95,Cardiff,NaN,United Kingdom,Europe,51.481655,-3.179193,361469.0,2.28,1.52,3.71,4.76,2.62,1.27,3.53,4.70
105,Sliema,Sliema,Malta,Europe,35.912761,14.502071,16854.0,2.22,1.70,2.93,3.62,NaN,NaN,NaN,NaN
106,Navi Mumbai,NaN,India,Asia & Pacific,19.030826,73.019854,1119477.0,2.21,0.45,2.29,2.39,NaN,NaN,NaN,NaN
134,Bali,NaN,Indonesia,Asia & Pacific,-8.330498,115.090640,4230051.0,2.01,1.57,2.11,2.47,NaN,NaN,NaN,NaN
152,Lund,NaN,Sweden,Europe,55.702930,13.192945,93577.0,1.88,3.01,4.33,7.74,NaN,NaN,NaN,NaN
164,Vijayawada,NaN,India,Asia & Pacific,16.508759,80.618510,1048240.0,1.79,0.54,1.78,1.30,1.90,0.59,1.29,2.68
170,Noida,NaN,India,Asia & Pacific,28.535633,77.391073,642381.0,1.77,0.48,1.97,1.91,NaN,NaN,NaN,NaN
193,Bhubaneswar,NaN,India,Asia & Pacific,20.266777,85.843559,837737.0,1.63,0.54,1.09,2.05,1.60,0.45,2.34,2.19
203,Padua,NaN,Italy,Europe,45.407717,11.873446,210440.0,1.55,1.77,1.70,4.83,1.25,1.87,1.67,5.69
208,Makati,NaN,Philippines,Asia & Pacific,14.556885,121.023532,582602.0,1.52,NaN,2.78,1.46,NaN,NaN,NaN,NaN
227,Breda,NaN,Netherlands,Europe,51.588785,4.776024,183873.0,1.44,2.25,3.12,6.04,NaN,NaN,NaN,NaN
228,Delft,NaN,Netherlands,Europe,51.999457,4.362725,100011.0,1.44,2.17,3.51,6.04,NaN,NaN,NaN,NaN
231,Leiden,NaN,Netherlands,Europe,52.151816,4.481109,124899.0,1.43,2.17,3.37,5.44,NaN,NaN,NaN,NaN
233,Nijmegen,NaN,Netherlands,Europe,51.842575,5.838961,177659.0,1.43,2.14,3.18,4.83,1.60,1.10,3.30,3.92
242,Enschede,NaN,Netherlands,Europe,52.220985,6.894054,158986.0,1.37,2.20,3.35,4.83,1.17,1.15,3.76,4.90
260,Leuven,NaN,Belgium,Europe,50.879202,4.701168,100291.0,1.23,2.07,3.68,4.83,1.78,1.89,3.45,4.28
281,Cebu,NaN,Philippines,Asia & Pacific,10.450000,123.840000,2938982.0,1.17,1.35,2.61,1.30,1.20,1.16,3.06,1.63
299,Freiburg,NaN,Germany,Europe,47.996090,7.849400,313800.0,1.09,1.65,3.18,4.23,1.11,1.38,3.46,4.14
314,Dumaguete,NaN,Philippines,Asia & Pacific,9.305478,123.308045,131377.0,1.04,1.27,NaN,1.14,1.01,0.88,2.53,1.26
363,Palma de Mallorca,NaN,Spain,Europe,39.569582,2.650075,422587.0,0.90,1.46,2.52,3.02,1.45,1.35,3.79,5.75
428,Odessa,NaN,Ukraine,Europe,46.487319,30.739278,1010783.0,0.73,0.54,1.20,0.89,0.73,0.38,1.06,1.02
432,La Marsa,NaN,Tunisia,Arab States,36.879088,10.327678,92987.0,0.72,0.18,1.28,1.84,NaN,NaN,NaN,NaN
446,Da Nang,Đà Nẵng,Vietnam,Asia & Pacific,16.068000,108.212000,1230847.0,0.63,NaN,1.67,1.04,0.55,0.86,1.75,1.19
465,Swansea,NaN,United Kingdom,Europe,51.619596,-3.945925,245508.0,NaN,1.35,4.36,4.89,2.39,0.89,3.87,4.40
472,Kingston,NaN,Canada,North America,44.230687,-76.481323,123798.0,NaN,2.77,2.95,4.72,3.30,1.74,3.70,5.17

In [25]:
import qwikidata.sparql

def get_city_wikidata(city, country):
    query = """
    SELECT ?city ?cityLabel ?country ?countryLabel ?population
    WHERE
    {
      ?city rdfs:label '%s'@en.
      ?city wdt:P1082 ?population.
      ?city wdt:P17 ?country.
      ?city rdfs:label ?cityLabel.
      ?country rdfs:label ?countryLabel.
      FILTER(LANG(?cityLabel) = "en").
      FILTER(LANG(?countryLabel) = "en").
      FILTER(CONTAINS(?countryLabel, "%s")).
    }
    """ % (city, country)

    res = qwikidata.sparql.return_sparql_query_results(query)
    out = res['results']['bindings'][0]
    return out

In [26]:
def get_region(country):
    region = numbeo_globe.loc[numbeo_globe.country.str.contains(country), "region"]
    return region.dropna().unique()[0]

In [27]:
import geocoder
import time
from requests import Session

with Session() as s:
    for row in lost.values:
        city = row[0]
        country = row[2]
        try:
#             print(city, country)
            lost.loc[lost.city_ascii == city, "region"] = get_region(country)

            latlng = geocoder.osm(city + ", " + country, session=s).latlng
            if latlng:
                lost.loc[lost.city_ascii == city, 'latitude'] = latlng[0]
                lost.loc[lost.city_ascii == city, "longitude"] = latlng[1]
            
            wikidata = get_city_wikidata(city, country)
            lost.loc[lost.city_ascii == city, "population"] = int(wikidata['population']['value'])
        except:
            pass
        time.sleep(1)

/Users/christalee/Library/Python/3.6/lib/python/site-packages/pandas/core/indexing.py:1763: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  isetter(loc, value)

In [29]:
for i in range(len(lost)):
    row = lost.iloc[i]
    index = row.name
    numbeo_globe[numbeo_globe.index == index] = row.values

In [30]:
n_e_clean = pd.concat([numbeo_us, numbeo_globe])
len(n_e) == len(n_e_clean)

True

In [31]:
numbeo_globe.tail(25)

,city_ascii,admin_name,country,region,latitude,longitude,population,beer_market_n,bread_n,coffee_n,beer_pub_n,beer_market_e,bread_e,coffee_e,beer_pub_e
492,Madurai,Tamil Nādu,India,Asia & Pacific,9.9197,78.1194,1561129.0,NaN,0.52,0.98,1.91,1.55,0.74,2.09,3.26
493,Windhoek,Khomas,Namibia,Africa,-22.5700,17.0836,322500.0,NaN,NaN,NaN,1.32,1.63,0.70,2.36,1.77
494,Aguascalientes,Aguascalientes,Mexico,South/Latin America,21.8760,-102.2960,934424.0,NaN,NaN,2.27,1.26,0.86,1.23,2.67,1.53
495,Davao,Davao,Philippines,Asia & Pacific,7.0667,125.6000,1632991.0,NaN,1.19,2.90,1.25,1.00,0.92,2.92,1.59
496,Abidjan,Abidjan,Côte D’Ivoire,Africa,5.3364,-4.0267,4980000.0,NaN,0.76,2.46,0.92,1.16,0.54,3.48,3.32
497,Markham,Ontario,Canada,North America,43.8767,-79.2633,328966.0,NaN,1.79,2.97,NaN,NaN,NaN,NaN,NaN
498,Al `Ayn,Abū Z̧aby,United Arab Emirates,Middle East,24.2075,55.7447,766936.0,NaN,1.21,5.01,NaN,2.75,1.07,5.73,7.00
499,Kuwait City,Al ‘Āşimah,Kuwait,Middle East,29.3750,47.9800,637411.0,NaN,1.04,4.71,NaN,NaN,0.79,5.23,NaN
500,Sharjah,Ash Shāriqah,United Arab Emirates,Middle East,25.3575,55.3919,1400000.0,NaN,0.93,3.35,NaN,2.61,0.72,6.00,7.00
501,Ad Dammam,Ash Sharqīyah,Saudi Arabia,Middle East,26.4333,50.1000,903312.0,NaN,0.92,3.10,NaN,NaN,0.87,3.78,NaN
502,Jeddah,Makkah al Mukarramah,Saudi Arabia,Middle East,21.5428,39.1728,3976000.0,NaN,0.80,3.19,NaN,NaN,0.57,4.03,NaN
503,Riyadh,Ar Riyāḑ,Saudi Arabia,Middle East,24.6500,46.7100,6881000.0,NaN,0.74,3.28,NaN,NaN,0.53,3.95,NaN
504,`Ajman,‘Ajmān,United Arab Emirates,Middle East,25.3994,55.4797,238119.0,NaN,0.71,4.40,NaN,NaN,NaN,NaN,NaN
505,Dhaka,Dhaka,Bangladesh,Asia & Pacific,23.7161,90.3961,15443000.0,NaN,0.64,2.28,NaN,6.00,0.49,3.56,7.00
506,Chattogram,Chittagong,Bangladesh,Asia & Pacific,22.3350,91.8325,2581643.0,NaN,0.62,1.91,NaN,2.40,0.52,1.92,3.63
507,Tehran,Tehrān,Iran,Middle East,35.7000,51.4167,13633000.0,NaN,0.62,1.97,NaN,NaN,0.85,6.00,NaN
508,Islamabad,Islāmābād,Pakistan,Asia & Pacific,33.6989,73.0369,1365000.0,NaN,0.50,1.51,NaN,2.24,0.51,2.58,2.75
509,Lahore,Punjab,Pakistan,Asia & Pacific,31.5497,74.3436,11021000.0,NaN,0.49,1.85,NaN,2.22,0.34,2.89,2.78
510,Rawalpindi,Punjab,Pakistan,Asia & Pacific,33.6007,73.0679,2098231.0,NaN,0.47,NaN,NaN,2.07,0.38,1.81,2.07
511,Karachi,Sindh,Pakistan,Asia & Pacific,24.8600,67.0100,14835000.0,NaN,0.44,1.65,NaN,1.89,0.42,2.35,2.83
512,Calicut,Kerala,India,Asia & Pacific,11.2500,75.7667,431560.0,NaN,0.41,0.74,NaN,1.20,0.44,3.15,7.00
513,Kabul,Kābul,Afghanistan,Asia & Pacific,34.5328,69.1658,3678034.0,NaN,0.39,1.06,NaN,2.58,0.49,2.77,5.72
514,Peshawar,Khyber Pakhtunkhwa,Pakistan,Asia & Pacific,34.0000,71.5000,1970042.0,NaN,0.39,NaN,NaN,0.16,0.41,1.86,1.76
515,Santa Rosa,La Pampa,Argentina,South/Latin America,-36.6203,-64.2906,103860.0,NaN,NaN,NaN,NaN,1.14,0.40,1.15,2.22
516,Santa Clara,Villa Clara,Cuba,South/Latin America,22.4067,-79.9531,207963.0,NaN,NaN,NaN,NaN,1.22,1.50,3.53,5.91

In [32]:
# numbeo.to_csv("numbeo.csv")

n_e_clean.index = list(range(len(n_e_clean)))
n_e_clean.to_csv("n_e_clean.csv")
n_e_clean.to_json("n_e_clean.json")